.container{
  background-color: white;
  text-align: center;

}
.fila1{
  background-color: lightgreen;
}

.columna1{
  background-color: mediumpurple;
}

.columna2{
  background-color: rgb(241, 149, 11);
}

.columna1, .columna2,.fila1 {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small{
  padding: 10px;
}
